<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> RP Network Homepage </title>
    </head>
    <body>
        <div>
            <h1><a href=""> RP Network Homepage </a></h1>
            <p><em> first trial open: 13.09.2017, 01:00 </em></p>
            <br />
        </div>

        <div> <h2> Registered RP list </h2> </div>

        <table border="1">
            <tr> <td>patient ID</td> <td> researcher </td></tr>
            {% for rppt in alllist %}
                <tr>
                    <td> <a href=""> {{ rppt.ptid }} </a> </td>
                    <td> {{ rppt.researcher }} </td>
                    <td> <img src="{{ rppt.fundusRt }}" /> </td>
                    <td> <img src="{{ rppt.fundusLt }}" /> </td>
                </tr>
            {% endfor %}
        </table>

        <div>
            <h2><a href="http://bjcho8.pythonanywhere.com/admin">Click! to register a new RP patient</a></h2>
            <!--  <ul><li>first item</li><li>second item</li></ul> -->
         </div>
    </body>
</html>